@use '@/assets/variables.scss' as variables;
@use '@/assets/mixins.scss' as mixins;

.table__item {
    background: #fff;
    padding: 0px 5px;
    width: var(--default-width);
    max-width: var(--default-width);
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: start;
    position: relative;
}

td {
    &:first-child {
        padding: 0px 10px 0px 13px;
    }

    &:not(:first-child) {
        padding: 3px 11px;
    }

    &:not(:last-child) {
        border-right: 1px solid #eeeff1;
    }
}

.table__body {
    .table__row {
        td {
            border-bottom: 1px solid #eeeff1;
        }
    }

    .table__row_blue {
        .table__item {
            background: #d4e2fe;
        }
    }

    .table__row_grey {
        .table__item {
            background: #dddddd;
        }
    }

    .table__row:hover {
        .table__item {
            background: #efefef;
        }
    }
}

.table__item_red {
    background: rgba(255, 12, 12, 0.35) !important;
}

.table__item_center {
    text-align: center;
}

.table__item-remark_red {
    &::before {
        content: url('/remark/remark_red.svg');
        position: absolute;
        right: 0px;
        top: 0px;
    }
}

.table__item-remark_yellow {
    &::before {
        content: url('/remark/remark_yellow.svg');
        position: absolute;
        right: 0px;
        top: 0px;
    }
}

.table__item-remark_green {
    &::before {
        content: url('/remark/remark_green.svg');
        position: absolute;
        right: 0px;
        top: 0px;
    }
}
